simple20120312.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20141120.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20141208.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20150519.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20150714.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20150723.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20150916.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20150923.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20150924.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151019-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151021-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151111-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151129-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151129.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151208-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151208.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151210-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151210.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151216-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151216.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151218-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151218.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151221-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151221.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151222-thin.tar.gz filter=lfs diff=lfs merge=lfs -text
simple20151222.tar.gz filter=lfs diff=lfs merge=lfs -text
vim_cygwin.tar.gz filter=lfs diff=lfs merge=lfs -text
